body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Raleway', sans-serif;
}

    body a {
        text-decoration: none;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
/*--Web title start---*/
.title {
    margin-top: 8%;
    margin-bottom: 6%;
}

h3.title {
    font-size: 3.5em;
    font-weight: 400;
    color: #ff6a00;
    font-family: 'Poiret One', cursive;
    text-align: center;
}

h4.title {
    font-size: 2.4em;
    font-weight: 300;
    color: #ff6a00;
    font-family: 'Poiret One', cursive;
    text-align: center;
}

/*--Web title end---*/

/*--Web body start---*/
.body {
}

/*--Web body end---*/


/*--SearchBox start---*/
.searchbox {
    margin-top: 2%;
    margin-left: 13%;
    margin-right: 13%;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-color: rgba(0,0,0,0);
}

.support {
    margin: 1em 0em 0em 0em;
    background-color: rgba(0,0,0,0);
    padding: 0em 0em;
    text-align: center;
}

    .support input[type="text"] {
        width: 79%;
        padding: 10px;
        font-size: 15px;
        text-align: left;
        font-weight: 400;
        border: 1px solid #808080;
        outline: none;
        margin: 0px 0px 0 0;
        webkit-appearance: none;
    }

        .support input[type="text"]:hover {
            border: 1px solid #ff6a00;
        }

    .support input[type="submit"] {
        background: #00b29f;
        cursor: pointer;
        border: 0;
        color: #fff;
        font-weight: 400;
        font-size: 15px;
        text-transform: uppercase;
        padding: 10px;
        text-align: center;
        webkit-appearance: none;
        outline: none;
        width: 20%;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

        .support input[type="submit"]:hover {
            background: #8CD0B4;
        }


/*--SearchBox end --*/

/*--SearchResult start --*/


h5.title {
    font-size: 1.5em;
    color: #ff6a00;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-weight: bolder;
}

.searchresult {
    margin-top: 10px;
}
/*--SearchResult end --*/


/*--second style start --*/

.top {
    height: 35px;
}

.logo_title {
    float: left;
    display: inline;
    position: relative;
}

.searchbox_small {
    width: 580px;
    display: inline;
    float: left;
    position: absolute;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-color: rgba(0,0,0,0);
}

.support_small {
    margin: 1%;
    background-color: rgba(0,0,0,0);
}

    .support_small input[type="text"] {
        width: 79%;
        padding: 8px;
        font-size: 15px;
        text-align: left;
        font-weight: 400;
        border: 1px solid #808080;
        outline: none;
        margin: 0px 0px 0 0;
        webkit-appearance: none;
    }

        .support_small input[type="text"]:hover {
            border: 1px solid #ff6a00;
        }

    .support_small input[type="submit"] {
        background: #00b29f;
        cursor: pointer;
        border: 0;
        color: #fff;
        font-weight: 400;
        font-size: 15px;
        text-transform: uppercase;
        padding: 9px;
        text-align: center;
        webkit-appearance: none;
        outline: none;
        width: 20%;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

        .support_small input[type="submit"]:hover {
            background: #8CD0B4;
        }

.top_right {
    float: right;
}

.search_navbar {
    margin-top: 10px;
    display:block;
}

.navbar {
    min-height: 30px;
    height: 30px;
}

.navbar-brand {
    height: 30px;
    padding: 5px 15px;
    font-size: 16px;
}

.brand {
    width: 142px;
}

.choice {
    font-size: 15px;
    font-weight: bolder;
    text-align:center;
}

.choose {
    border-bottom: groove;
    border-bottom-color: #00b29f;
}

.content{
    float:left;
    padding-left:140px;
    display:inline;
    position:relative;
    min-height:300px;
    width:820px;

    
}
.search_right{
    float:right;
    display:inline;
    position:absolute;
    min-height:300px;
    width:400px;
    border-left:groove;
}
/*--second style end --*/
