body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Raleway', sans-serif;
}

    body a {
        text-decoration: none;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
/*--Web title start---*/
.title {
    margin-top: 5%;
}

h3.title {
    font-size: 3.5em;
    font-weight: 400;
    color: #ff6a00;
    font-family: 'Poiret One', cursive;
    text-align: center;
}

.smalltitle {
    margin-right: 27%;
    float:right;
}
}
/*--Web title end---*/

/*--Web body start---*/
.body {
}

/*--Web body end---*/

/*--function_option start---*/
.function_option {
    margin-top: 5%;
    margin-left: 13%;
    margin-right: 13%;
}
/*--function_option end---*/

/*--SearchBox start---*/
.searchbox {
    /*background: url(../images/bottom-bg.jpg)no-repeat;*/
    /*min-height: 400px;*/
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    /*padding-top: 2.5em;*/
}

.support {
    margin: 1em 0em 0em 0em;
    background-color: #fff;
    padding: 0em 0em;
    text-align: center;
}

    .support input[type="text"] {
        width: 79%;
        padding: 10px;
        font-size: 15px;
        text-align: left;
        font-weight: 400;
        border: 1px solid #808080;
        outline: none;
        margin: 0px 0px 0 0;
        webkit-appearance: none;
    }

        .support input[type="text"]:hover {
            border: 1px solid #ff6a00;
        }

    .support input[type="submit"] {
        background: #00b29f;
        cursor: pointer;
        border: 0;
        color: #fff;
        font-weight: 400;
        font-size: 15px;
        text-transform: uppercase;
        padding: 10px;
        text-align: center;
        webkit-appearance: none;
        outline: none;
        width: 20%;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

        .support input[type="submit"]:hover {
            background: #8CD0B4;
        }


/*--SearchBox end --*/


ul.f-icons {
    text-align: center;
    float: right;
    margin-top: 20px;
}

    ul.f-icons li {
        list-style: none;
        display: inline-block;
        margin-right: 2em;
    }

        ul.f-icons li.selected {
            background-color: #024034;
        }

        ul.f-icons li:active {
            text-decoration: none;
            background-color: #808080;
        }

        ul.f-icons li a:hover {
            text-decoration: none;
        }

        ul.f-icons li a i.tags, ul.f-icons li a i.p, ul.f-icons li a i.twitter, ul.f-icons li a i.gg, ul.f-icons li a i.ins {
            background: url(../images/icons.png) no-repeat -0px -141px;
            display: inline-block;
            height: 36px;
            width: 36px;
        }

        ul.f-icons li a i.twitter {
            background: url(../images/icons.png) no-repeat -37px -141px;
        }

        ul.f-icons li a i.gg {
            background: url(../images/icons.png) no-repeat -71px -141px;
        }

        ul.f-icons li a i.p {
            background: url(../images/icons.png) no-repeat -148px -141px;
        }

        ul.f-icons li a i.ins {
            background: url(../images/icons.png) no-repeat -111px -141px;
        }


        ul.f-icons li h4, ul.f-icons li a h4 {
            color: #00b29f;
            text-align: center;
            font-size: 2em;
            font-weight: 400;
            font-family: 'Poiret One', cursive;
        }

        ul.f-icons li h5, ul.f-icons li h5 a {
            text-align: center;
            margin: 0em auto 0;
            font-weight: 400;
            font-size: 1em;
            line-height: 1.8em;
            color: #8CD0B4;
        }

/*ul.f-icons li:hover {
            transform: rotateY(360deg);
            -webkit-transform: rotateY(360deg);
            -moz-transform: rotateY(360deg);
            -o-transform: rotateY(360deg);
            -webkit-transition: 0.8s;
            -moz-transition: 0.8s;
            -o-transition: 0.8s;
        }*/
