$def with (para)
<!DOCTYPE html>
<html>
<head>
    <title>Tagged Search Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Css start-->
    <link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="static/css/left-side.css" rel="stylesheet" type="text/css" media="all" />
    <!--<link href="css/nav.css" rel="stylesheet" type="text/css" media="all"/>-->
    <!-- Css end-->
    <!--Font start-->
    <link href='static/css/font.css' rel='stylesheet' type='text/css'>
    <!--Font end-->
    <!-- Scripts start-->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/scripts.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
        <script src="static/js/html5.js"></script>
    <![endif]-->
    <!-- Scripts end -->
</head>
<body>
    <!--web body start-->
    <div class="container">
        $if para.word == None or para.word == '' :
        <!--web title start-->
        <div class="title">
            <h3 class="title">Tagged Search Demo</h3>
        </div>
        <!--web title end-->
        <!--function_option start-->
        <div class="function_option">
            $if not( para.word == None or para.word == '') :
            <div class="smalltitle hidden-xs">
                <h4 class="title two">Tagged Search Demo2</h4>
            </div>
            <div class="visible-xs-block">
                <h4 class="title two">Tagged Search Demo2</h4>
            </div>
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="$para['function_option']['insite']">
                    <a href="#insite" id="insite-tab" role="tab" data-toggle="tab" aria-controls="insite" aria-expanded="true">页面标签</a>
                </li>
                <li role="presentation" class="$para['function_option']['tags']">
                    <a href="#tags" id="profile-tab" role="tab" data-toggle="tab" aria-controls="tags" aria-expanded="false">词语标签</a>
                </li>
                <!--<li role="presentation" class="$para['function_option']['dbinfo']">
                    <a href="#dbinfo" id="dbinfo-tab" role="tab" data-toggle="tab" aria-controls="dbinfo" aria-expanded="true">数据库情况</a>
                </li>-->
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">选项 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#option1" role="checkbox" data-toggle="checkbox">@fat</a></li>
                        <li><a href="#option2" role="checkbox" data-toggle="checkbox">@mdo</a></li>
                    </ul>
                </li>-->

            </ul>

            <div id="myTabContent" class="tab-content">
                <!--tag search start-->
                <div role="tabpanel" class="tab-pane fade $para['function_option']['tags']" id="tags" aria-labelledby="tags-tab">
                    <div class="searchbox">
                        <div class="support">
                            <form action="" class="search_form">
                                <input type="hidden" name="action" class="text" value="tags">
                                $if not para.word:
                                <input type="text" name="word" class="text" placeholder="Search what your want...">
                                $else:
                                <input type="text" name="word" class="text" value="$para.word" placeholder="Search what your want...">
                                <input type="submit" value="GO!" class="botton" onclick="$('form').submit( )">
                            </form>
                        </div>
                        <div class="searchresult">
                            $if 'tags' in para and para['tags']!=None:
                            <p>共有$len(para['tags'][0])条1级标签:<p>
                                $for tag in para['tags'][0]:
                                <button class="btn btn-primary" type="button">
                                    <span class="hidden">$tag[0]</span>$tag[2]<span class="hidden">$tag[1]</span>
                                </button>
                                $if(len(para['tags'])>1):
                            <p>共有$len(para['tags'][1])条2级标签:<p>
                                $for tag in para['tags'][1]:
                                <button class="btn btn-primary" type="button">
                                    <span class="hidden">$tag[0]</span>$tag[2]<span class="hidden">$tag[1]</span><span class="badge">$tag[3]</span>
                                </button>
                        </div>
                    </div>
                </div>
                <!--tag search end-->
                <!--insite search start-->
                <div role="tabpanel" class="tab-pane fade $para['function_option']['insite']" id="insite" aria-labelledby="insite-tab">
                    <div class="searchbox">
                        <div class="support">
                            <form action="" class="search_form">
                                <input type="hidden" name="action" class="text" value="insite">
                                $if not para.word:
                                <input type="text" name="word" class="text" placeholder="请输入文章ID(400001~420965)">
                                $else:
                                <input type="text" name="word" class="text" value="$para.word" placeholder="请输入文章ID(400001~420965">
                                <input type="submit" value="GO!" class="botton" onclick="$('form').submit( )">
                            </form>
                        </div>
                        <div class="searchresult">
                            $if 'insite' in para:
                            <p>title:$para.insite['title']</p>
                            <p>content:$para.insite['content']</p>
                            <p>共有$len(para.insite['words'])个词语:<p>
                                <br>
                                $for (word,pos) in para.insite['words']:
                                <button class="btn btn-primary" type="button">
                                    $word<span class="badge">$pos</span>
                                </button>
                            <p>共有$len(para.insite['level1_tags'])条1级标签:<p>
                                <br>
                                $for (id,tag) in para.insite['level1_tags']:
                                <button class="btn btn-primary" type="button">
                                    <span class="hidden">$id,$tag[0]</span>$tag[1]<span class="badge">$tag[2]</span>
                                </button>
                            <p>共有$len(para.insite['level2_tags'])条2级标签:<p>
                                <br>
                                $for (id,tag) in para.insite['level2_tags']:
                                <button class="btn btn-primary" type="button">
                                    <span class="hidden">$id,$tag[0]</span>$tag[1].encode('utf-8')<span class="badge">$tag[2]</span>
                                </button>

                        </div>
                    </div>
                </div>
                <!--insite search end-->
                <!--get dbinfo start-->
                <div role="tabpanel" class="tab-pane fade $para['function_option']['dbinfo']" id="dbinfo" aria-labelledby="dbinfo-tab">
                    dbinfo
                </div>
                <!--get dbinfo end-->
            </div>

        </div>
        <!--function_option end-->
    </div>
    <!--web body end-->
</body>
</html>
<!--<ul class="f-icons">
                   <li>
                       <a href="?action=dbinfo">
                           <i class="tags"></i>
                           <h5>数据库情况</h5>
                       </a>
                   </li>
                   <li>
                       <a href="?action=tags">
                           <i class="tags"></i>
                           <h5>显示标签</h5>
                       </a>
                   </li>
                   <li>
                       <a href="?action=insite">
                           <i class="twitter"></i>
                           <h5>站内搜索</h5>
                       </a>
                   </li>
                   <!--<li>
                       <a href="#"</a>
                       <h4>twitter</h4>
                   </li>
                   <li>
                       <a href="#" class="gg"></a>
                       <h4>gg</h4>
                   </li>
                   <li>
                       <a href="#" class="p"></a>
                       <h4>p</h4>
                   </li>
                   <li>
                       <a href="#" class="ins"></a>
                       <h4>ins</h4>
                   </li>->
               </ul>-->
