$def with (para)

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tagged Search Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Css start-->
    <link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="static/css/left-side.css" rel="stylesheet" type="text/css" media="all" />
    <link href="static/css/spinkit.css" rel="stylesheet" type="text/css" />
    <!-- Css end-->
    <!--Font start-->
    <link href='static/css/font.css' rel='stylesheet' type='text/css'>
    <!--Font end-->
    <!-- Scripts start-->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/scripts.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
        <script src="static/js/html5.js"></script>
    <![endif]-->
    <!-- Scripts end -->
</head>
<body>
    <script>
        
    </script>
    <!--top start-->
    <div class="top">
        <!--title start-->
        <div class="logo_title">
            <h5 class="title">Tagged Search</h5>
        </div>
        <!--title end-->
        <!--searchbox start-->
        <div class="searchbox_small">
            <div class="support_small">
                <form action="" id="search" method="get">
                    <input type="hidden" name="action" id="action" class="text" value="search">
                    <input type="text" name="ss" id="ss" class="text" placeholder="Search what your want..." value="$para.ss">
                    <!--<input type="submit" name="submit" id="submit" value="GO!" class="botton"-->
                </form>
                <button id="go">GO!</button>
            </div>
        </div>
        <div class="top_right">
        </div>
        <!--searchbox end-->
    </div>
    <div class="search_navbar">
        <nav class="navbar navbar-default ">
            <div class="navbar-">
                <a class="navbar-brand brand"></a>
                <a class="navbar-brand choice choose" href="#">网页</a>
            </div>
        </nav>
    </div>
    <!--top end-->
    <!--search_result start-->
    <div class="search_result">
        <div class="content">
            共有$para['webs']['total']条记录,当前第$para['webs']['page']页
            <hr>
            $for i in xrange(para['webs']['npp']):
                <div class="url">
                <a href="$para['webs'][i][0]" target="_blank" >$para['webs'][i][1]</a>
                </div>
                <p> $para['webs'][i][2] </p>
                <br>
            $ page_count = 0
            $ show_page = para['webs']['page'] - 2
            $ total_page = para['webs']['total']/10+1 if (para['webs']['total']%10 == 0) else para['webs']['total']/10
            共有 $total_page页记录,当前第$para['webs']['page']页
            <nav>
                $if(para['webs']['total']/10 > 0):
                    <ul class="pagination">
                        $if(para['webs']['page']==1):
                            <li class="disabled">
                                <a aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        $else:
                            <li>
                                <a href="/?action=search&ss=$para.ss&page=$(para['webs']['page']-1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        
                        $while(1):
                            $if show_page>0:
                                $if show_page <= total_page and page_count <= 10:
                                    $if show_page == para['webs']['page']:
                                        <li class="active"><a href="/?action=search&ss=$para.ss&page=$show_page">$show_page</a></li>
                                    $else:
                                        <li><a href="/?action=search&ss=$para.ss&page=$show_page">$show_page</a></li>
                                    $ page_count += 1
                                $else:
                                    $break
                            $ show_page += 1
                            
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
            </nav>
            <div class="sk-wandering-cubes" id="content_loading" style="display:none;">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
            </div>  
        </div>
        <!--search_result end-->
        <div class="search_right">
            <b>分词列表</b>
            $for word in para['words']:
                <button class="btn btn-primary" type="button">
                    $word
                </button>
            $if(len(para['l2_tags'])>0):
                <br><br>
                <b>标签列表</b>
            $for id,tag in para['l2_tags'].items():
                <button class="btn btn-primary" type="button">
                    $tag[2]
                </button>
            $if(len(para['l1_tags'])>0):
                <hr>
                <p>wikidata条目</p>
            $for id,tag in para['l1_tags'].items():
                <button class="btn btn-info" type="button">
                    <a href="http://www.wikidata.org/wiki/$tag[1]" target="_blank">$tag[2]</a>
                </button>
            <div class="sk-wandering-cubes" id="right_loading" style="display:none;">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
            </div>
        </div>
    </div>
    <script>
        $$(document).ready(function () {
            $$(go).click(function () {
                var sentence = $$(ss).val();
                var url_search = "";
                if (sentence != "" && typeof (sentence) != "undefined") {
                    $$(right_loading).show();
                    $$(content_loading).show();
                    $$("form").submit();
                }
            });
            $$(ss).keypress(function (e) {
                if (event.witch == 13 || event.keyCode ==13) {
                    $$(go).click()
                }
            });
        });
        
    </script>
</body>
</html>